.lpb-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.lpb-container:before,
.lpb-container:after {
  box-sizing: border-box;
  content: " ";
  display: table;
}

.lpb-container:after {
  clear: both;
}

.hidden-row {
  display: none;
}

.lpb-section {
  margin-bottom: 1.75em;
  padding-top: 1.75em;
  padding-bottom: 1.75em;
}

.lpb-section.padding-bottom-no {
  padding-bottom: 0;
}

.lpb-section.padding-top-no {
  padding-top: 0;
}

.lpb-section.margin-bottom-no {
  margin-bottom: 0;
}

.lpb-section .lpb-page-row {
  padding-left: 15px;
  padding-right: 15px;
}

.lpb-section.row-stretch-boxed .lpb-page-row,
.lpb-section.row-stretch-normal-boxed .lpb-page-row {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}

.lpb-section.parallax-yes {
  background-attachment: fixed;
}

.lpb-section > .lpb-page-row:last-child .lpb-page-item:last-child {
  margin-bottom: 0;
}

.lpb-row {
  box-sizing: border-box;
  margin-left: -15px;
  margin-right: -15px;
}

.lpb-row:before,
.lpb-row:after {
  box-sizing: border-box;
  content: " ";
  display: table;
}

.lpb-row:after {
  clear: both;
}

.lpb-col-1,
.lpb-col-2,
.lpb-col-3,
.lpb-col-4,
.lpb-col-5,
.lpb-col-6,
.lpb-col-7,
.lpb-col-8,
.lpb-col-9,
.lpb-col-10,
.lpb-col-11,
.lpb-col-12 {
  box-sizing: border-box;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.columns-gap-no-gap .lpb-col-1,
.columns-gap-no-gap .lpb-col-2,
.columns-gap-no-gap .lpb-col-3,
.columns-gap-no-gap .lpb-col-4,
.columns-gap-no-gap .lpb-col-5,
.columns-gap-no-gap .lpb-col-6,
.columns-gap-no-gap .lpb-col-7,
.columns-gap-no-gap .lpb-col-8,
.columns-gap-no-gap .lpb-col-9,
.columns-gap-no-gap .lpb-col-10,
.columns-gap-no-gap .lpb-col-11,
.columns-gap-no-gap .lpb-col-12 {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.columns-gap-no-gap img {
  width: 100%;
}

.lpb-page-item {
  margin-bottom: 1.75em;
}

.empty-column {
  margin-bottom: 0;
}

.lpb-item-content div:last-child > p:last-child,
.lpb-item-content > p:last-child {
  margin-bottom: 0;
}

.lpb-item-image img {
  vertical-align: middle;
}

.lpb-item-image.alignment-left {
  text-align: left;
}

.lpb-item-image.alignment-right {
  text-align: right;
}

.lpb-item-image.alignment-center {
  text-align: center;
}